[Desktop Entry]
Name=Power Menu
Comment=Menu de desligar/reiniciar
Exec=@BIN_DIR@/powermenu.sh
Icon=system-shutdown
Terminal=false
Type=Application
Categories=System;
